/**/
body {
  background-color: #d0d1d148;
}
/*
h1 {
  background-color: #30f7a456;
}
*/
h3 {
  background-color:#65eef5;
}

label {
  display: block;
  float: left;
  text-align: right;
  width: 20%;
}

input {
  width: 75%;
}

#button {
  text-align: center;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16pt;
  height: 2.5ex;
  width: 5.2em;
  border-radius: 10px;
  color: white;
  background-color: blue;
}

#message {
  border-style: solid;
  border-color: grey;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid;
}

td.num {
  text-align: right;
}